.cur-container{
  margin: 118px 14% 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.curr-data-container{
  min-width: 490px;
}

.cur-data {
  margin: 0;
  line-height: 190%;
  font-size: 14px;
  padding-left: 26px;
}

.cur-data:nth-child(1), .cur-data:nth-child(13),.cur-data:nth-child(26),.cur-data:nth-child(35) {
  font-weight: bold;
  padding-left: 0;
}

.cur-data:nth-child(11),.cur-data:nth-child(24),.cur-data:nth-child(33) {
  margin-top: 7px;
}

.cur-img {
  width: 260px;
  -o-object-fit: cover;
  object-fit: cover;
  height: 389px;
  -o-object-position: left;
  object-position: left;
}

@media only screen and (max-width: 1450px) {
  .cur-container{
    margin: 118px 5% 0 10%;
  }
}

@media only screen and (max-width: 1090px) {
  .cur-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 55px;
  }
  .cur-img {
    height: 50%;
    margin-bottom: 24px;
  }
  
}

@media only screen and (max-width: 800px) {
  .cur-container{
    margin: 28px 4%;
  }
  .curr-data-container{
    min-width: 0;
  }
  .cur-data {
    padding-left: 14px;
  }
  .cur-img {
    width: 85%;
    max-width: 230px;
  }
}

@media only screen and (max-width: 500px) {
  .cur-container{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}